<!DOCTYPE html>
<!-- 何故か漢字コードを間違えるので困る... -->
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='robots' content='noindex,nofollow'>
    <title><%= @name %> / <%= @title %></title>
    <link href='<%= @urlroot %>/stylesheets/gyazz.css' rel='stylesheet' type='text/css; charset=utf-8'>
    <link rel="shortcut icon" href="<%= @urlroot %>/favicon.ico">
    <script language="JavaScript" src='<%= @urlroot %>/javascripts/jquery.js'></script>
    <script language="JavaScript" src='<%= @urlroot %>/javascripts/utf.js'></script>
    <script language="JavaScript" src='<%= @urlroot %>/javascripts/md5.js'></script>
    <script language="JavaScript" src='<%= @urlroot %>/javascripts/edit.js'></script>
    <script type='text/javascript'>
    var name = '<%= @name %>';
    var title = '<%= @title %>';
    var root =  '<%= @urlroot %>';
    var orig_md5 = '<%= @orig_md5 %>';
    var write_authorized = <%= @write_authorized %>;
    </script>
  </head>
  <body>
    <div class='title'>
      <span class='wordtitle'>
        <a href='<%= @urlroot %>/<%= @name %>/<%= @title %>'><%= sanitize(@title) %></a>
      </span>
      <form action="<%= @urlroot %>/__search/<%= @name %>" method="get" style="float:right;font-size:12pt;">
        <input height='20' name='q' type='text' value='<%= @q %>'>
        <input type='submit' value='検索'>
      </form>
    </div>
    <p>
    <textarea id='contents' rows='40' cols='100'><%= sanitize(@text) %></textarea>
    <script type='text/javascript'>
    var textarea = document.getElementById('contents');
    data = textarea.value;
    datamd5 = MD5_hexhash(utf16to8(data));
    </script>
  </body>
</html>
