<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= @name %> / <%= @title %></title>
  <link rel="stylesheet" href="<%= @urlroot %>/stylesheets/gyazz.css" type="text/css">
  <link rel="apple-touch-icon" href="<%= @urlroot %>/gyazz.png">
  <link rel="shortcut icon" href="<%= @urlroot %>/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="<%= @name %> RSS Feed" href="<%= @urlroot %>/<%= @name %>/rss.xml" />
  <meta name="robots" content="<%= @robotspec %>">

  <script language="JavaScript" src='<%= @urlroot %>/javascripts/pbsearch.js'></script>
  <script language="JavaScript" src='<%= @urlroot %>/javascripts/pbdict.js'></script>
  <script language="JavaScript" src='<%= @urlroot %>/javascripts/utf.js'></script>
  <script language="JavaScript" src='<%= @urlroot %>/javascripts/md5.js'></script>
  <script language="JavaScript" src='<%= @urlroot %>/javascripts/location.js'></script>

  <script language="JavaScript" src='<%= @urlroot %>/javascripts/jquery.js'></script>
  <!-- <script language="JavaScript" src='<%= @urlroot %>/javascripts/jQuery.kill_referrer.js'></script> -->

  <script language="JavaScript" src='<%= @urlroot %>/javascripts/gyazz.js'></script>

  <script type="text/javascript">
//  var name =  '<%= @name.split(/'/).join("\\'") %>';
//  var title = '<%= @title.split(/'/).join("\\'") %>';
//  var root =  '<%= @urlroot.split(/'/).join("\\'") %>';
  var name =  '<%= escape_html @name %>';
  var title = '<%= escape_html @title %>';
  var root =  '<%= @urlroot %>';
  var version = 0;

  var do_auth = <%= @do_auth %>;
  var write_authorized = <%= @write_authorized %>;

  $(document).ready(function(){ // この場所にないと駄目?
    $('#rawdata').hide();
    setup();
    getdata();
  })

  </script>
</head>

<body>
<div class='title'>
  <span class='wordtitle'>
    <% if @write_authorized then %>
      <a href='<%= @urlroot %>/<%= @name %>/<%= @title %>/__edit/0' id='title'>
      <%= sanitize(@title) %>
      </a>
    <% else %>
      <%= sanitize(@title) %>
    <% end %>
  </span>

  <form action="<%= @urlroot %>/__search/<%= @name %>" method="get" style="float:right;font-size:12pt;">
    <input height='20' name='q' type='text' value='<%= @q %>'>
    <input type='submit' value='リスト/検索'>
  </form>

  <span class='language' id='datestr'></span>
</div>

<div id='rawdata'>
<%= @rawdata.to_s.gsub(/</,'&lt;') %>
</div>

<p>
<div id='querydiv'>
Search: <input type="text" id="query" autocomplete="off" onkeyup="search(event)"
        style="font-size:10pt;border:none;padding:1px;margin:0;background-color:#f0f0ff;">
</div>
<div id='contents'></div>
<input autocomplete='off' type='text' id='newtext' style='visibility:hidden;'>
<p>

<div class="links">
  <%= @related %>
  <p>
  <br clear='all'>
</div>
<p>

  <!-- src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB-97Tqd24a0eosRi_oY4GC4RtFrf4ldqo&sensor=false"> -->
  <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false">
  </script>

</body>
</html>
