<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title><%= @name %> / <%= @title %></title>
<link rel="stylesheet" href="/Gyazz/stylesheets/gyazz.css" type="text/css">

<script language="JavaScript" src='/Gyazz/javascripts/pbsearch.js'></script>
<script language="JavaScript" src='/Gyazz/javascripts/pbdict.js'></script>
<script language="JavaScript" src='/Gyazz/javascripts/utf.js'></script>
<script language="JavaScript" src='/Gyazz/javascripts/md5.js'></script>
<script language="JavaScript" src='/Gyazz/javascripts/listedit.js'></script>

<script type="text/javascript">
var name =  '<%= @name %>';
var title = '<%= @title %>';
var root =  '<%= @urlroot %>';
var version = 0;
</script>
</head>

<body>
<div class='title'>
  <span class='wordtitle'>
    <a href='<%= @urlroot %>/<%= @name %>/<%= @title %>/edit' id='title'>
    <%= @title %>
    </a>
  </span>

  <form action="<%= @urlroot %>/__search/<%= @name %>" method="get" style="float:right;font-size:12pt;">
    <input height='20' name='q' type='text' value='<%= @q %>'>
    <input type='submit' value='検索'>
  </form>

  <span class='language' id='datestr'></span>
</div>

<p>
<div id='querydiv'></div>
<div id='contents'></div>

<input autocomplete='off' type='text' id='newtext' onmousedown='editing=true'
style='font-size:10pt;position:absolute;width:600;visibility:hidden;border:none;padding:1px;margin:0;background-color:#ddd;'>

<p>

<div class="links">
  <%= @related %>
  <p>
  <br clear='all'>
</div>

<script type="text/javascript">
setup();
getdata();
</script>

</body>
</html>
