<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= @page['name'] %> / <%= @page['title'] %></title>
  <link rel="stylesheet" href="/stylesheets/gyazz.css" type="text/css">
  <link rel="apple-touch-icon" href="/gyazz.png">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="<%= @page['name'] %> RSS Feed" href="/<%= @page['name'] %>/rss.xml" />
  <meta name="robots" content="<%= @page['searchable'] ? 'index,follow' : 'noindex,nofollow' %>">

  <script language="JavaScript" src='/javascripts/pbsearch.js'></script>
  <script language="JavaScript" src='/javascripts/pbdict.js'></script>
  <script language="JavaScript" src='/javascripts/utf.js'></script>
  <script language="JavaScript" src='/javascripts/md5.js'></script>
  <script language="JavaScript" src='/javascripts/location.js'></script>

  <script language="JavaScript" src='/javascripts/jquery.js'></script>
  <!-- <script language="JavaScript" src='<%= app_root %>/javascripts/jQuery.kill_referrer.js'></script> -->
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

  <script language="JavaScript" src='/javascripts/gyazz.js'></script>

  <script type="text/javascript">
  var name =  '<%= escape_jsvar @page['name'] %>';
  var title = '<%= escape_jsvar @page['title'] %>';
  var version = 0;

  var do_auth = <%= @page['do_auth'] %>;
  var write_authorized = <%= @page['write_authorized'] %>;

  $(document).ready(function(){ // この場所にないと駄目?
    $('#rawdata').hide();
    setup();
    getdata();
  })

  </script>
</head>

<body>
<div class='title'>
  <span class='wordtitle'>
    <% if @page['write_authorized'] then %>
      <a href='/<%= @page['name'] %>/<%= @page['title'] %>/__edit/0' id='title'>
      <%= sanitize(@page['title']) %>
      </a>
    <% else %>
      <%= sanitize(@page['title']) %>
    <% end %>
  </span>

  <form action="<%= app_root %>/__search/<%= @page['name'] %>" method="get" style="float:right;font-size:12pt;">
    <input height='20' name='q' type='text' value='<%= @q %>'>
    <input type='submit' value='リスト/検索'>
  </form>

  <span class='language' id='datestr'></span>
</div>

<div id='rawdata'>
<%= @page['rawdata'].to_s.gsub(/</,'&lt;') %>
</div>

<p>
<div id='querydiv'>
Search: <input type="text" id="query" autocomplete="off" onkeyup="search(event)"
        style="font-size:10pt;border:none;padding:1px;margin:0;background-color:#f0f0ff;">
</div>
<div id='contents'></div>
<input autocomplete='off' type='text' id='newtext' style='visibility:hidden;'>
<p>

<div class="links">

<% @page['related'].each { |entry| %>
  <% if entry['imageurl'] then %>
    <% @entry = entry %>
    <%= erb :icon %>
  <% else %>
    <% @entry = entry %>
    <%= erb :texticon %>
  <% end %>
<% } %>


  <p>
  <br clear='all'>
</div>
<p>

  <!-- src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB-97Tqd24a0eosRi_oY4GC4RtFrf4ldqo&sensor=false"> -->

</body>
</html>
