<html>
<head>
  <% pagetitle = (@q.to_s == '' ? 'ページリスト' : "「#{@q}」検索結果") %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= @wiki.name %> <%= pagetitle %></title>
  <link rel="stylesheet" href="/stylesheets/gyazz.css" type="text/css">
  <link rel="alternate" href="/<%= @wiki.name %>/rss.xml" title="<%= @wiki.name %> RSS" type="application/rss+xml" />
  <link rel="shortcut icon" href="/favicon.ico">
  <script language="JavaScript" src='/javascripts/jquery.js'></script>
</head>
<body>
  <div class="title">
    <span class='wordtitle'><%= @wiki.name %> <%= pagetitle %> (<%= @pages.length %>)</span>
    <form action="/__search/<%= @wiki.name %>" method="get" style="float:right;font-size:12pt;">
      <input height='20' name='q' type='text' value='<%= @q %>'>
      <input type='submit' value='検索'>
    </form>
  </div>
  <p>
  <div>
    <div style="float:left;">
      <% @pages.each { |page| %>
        <% url = "/#{@wiki.name}/#{page.title}" %>
        <div class="listedit0__xxx">
          <img id="<%= page.id %>" src="/<%= @wiki.name %>/<%= page.title %>/modify.png" width=50 height=12>
          <a href="<%= url %>" class='tag'><%= escape_html page.title %></a>
        </div>
      <% } %>
    </div>
  </div>
</body>
</html>
