<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= @wiki.name %> <%= @pagetitle %></title>
  <link rel="stylesheet" href="/stylesheets/gyazz.css" type="text/css">
  <link rel="alternate" href="/<%= @wiki.name %>/rss.xml" title="<%= @wiki.name %> RSS" type="application/rss+xml" />
  <link rel="shortcut icon" href="/favicon.ico">
  <script language="JavaScript" src='/javascripts/jquery.js'></script>
</head>
<body>
  <div class="title">
    <span class='wordtitle'><%= @wiki.name %> <%= @pagetitle %> (<%= @matchids.length %>)</span>
    <form action="/__search/<%= @wiki.name %>" method="get" style="float:right;font-size:12pt;">
      <input height='20' name='q' type='text' value='<%= @q %>'>
      <input type='submit' value='検索'>
    </form>
  </div>
  <p>
  <div>
    <div style="float:left;">
      <% @matchids.each { |id| %>
        <% title = Gyazz.id2title(id) %>
	<% disptitle = @disptitle[id] %>
        <% shorttitle = disptitle.sub(/\[\[http\S*\s+(.*)\]\]/){ $1 } %>
	<% if @wiki.attr['sortbydate'] == 'true' then %>
	<%   Gyazz::Page.new(@wiki,title).createtime.stamp =~ /(....)(..)(..)(..)(..)(..)/ %>
	<%   datestr = "#{$1}/#{$2}/#{$3} #{$4}:#{$5}:#{$6}" %>
	<%   shorttitle = datestr + ' ' + shorttitle %>
	<% end %>
        <% url = "/#{@wiki.name}/#{title}" %>
        <div class="listedit0__xxx">
          <img id="<%= id %>" src="/<%= @wiki.name %>/<%= title %>/modify.png" width=50 height=12>
          <a href="<%= url %>" class='tag'><%= escape_html shorttitle %></a>
        </div>
      <% } %>
    </div>
  </div>
</body>
</html>
