<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= @name %> <%= @pagetitle %></title>
  <link rel="stylesheet" href="<%= @urlroot %>/stylesheets/gyazz.css" type="text/css">
  <link rel="alternate" href="<%= @urlroot %>/<%= @name %>/rss.xml" title="<%= @name %> RSS" type="application/rss+xml" />
  <link rel="shortcut icon" href="<%= @urlroot %>/favicon.ico">
</head>
<body>
  <div class="title">
    <span class='wordtitle'><%= @name %> <%= @pagetitle %> (<%= @matchids.length %>)</span>
    <form action="<%= @urlroot %>/__search/<%= @name %>" method="get" style="float:right;font-size:12pt;">
      <input height='20' name='q' type='text' value='<%= @q %>'>
      <input type='submit' value='検索'>
    </form>
  </div>
  <p>
  <div>
    <div style="float:left;">
      <% @matchids.each { |id| %>
        <% title = @id2title[id] %>
	<% disptitle = @disptitle[id] %>
        <% shorttitle = disptitle.sub(/\[\[http.*\s+(.*)\]\]/){ $1 } %>
	<% if @sortbydate then %>
	<%   @createtime[id] =~ /(....)(..)(..)(..)(..)(..)/ %>
	<%   datestr = "#{$1}/#{$2}/#{$3} #{$4}:#{$5}:#{$6}" %>
	<%   shorttitle = datestr + ' ' + shorttitle %>
	<% end %>
        <% url = "#{@urltop}/#{title}" %>
        <div class="listedit0__xxx">
          <img src="<%= @urlroot %>/<%= @name %>/<%= title %>/access.png" width=50 height=12>
          <a href="<%= url %>" class='tag'><%= shorttitle %></a>
        </div>
      <% } %>
    </div>
    <% if @matchimages.length < 50 then %>
      <div style="width:450;float:right;">
        <%= @matchimages %>
      </div>
    <% end %>
  </div>
</body>
</html>
