<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title><%= @name %> <%= @pagetitle %></title>
  <link rel="stylesheet" href="<%= @urlroot %>/stylesheets/gyazz.css" type="text/css">
  <link rel="alternate" href="<%= @urlroot %>/<%= @name %>/rss.xml" title="<%= @name %> RSS" type="application/rss+xml" />
  <link rel="shortcut icon" href="<%= @urlroot %>/favicon.ico">
  <script language="JavaScript" src='<%= @urlroot %>/javascripts/jquery.js'></script>
  <script language="JavaScript" src='<%= @urlroot %>/javascripts/jquery.lazyload.min.js'></script>
  <script>
    function fout(id,interval){
      return function(){ $("#"+id).fadeOut(interval) };
    }
    function fin(id,interval,outfunc){
      return function(){ $("#"+id).fadeIn(interval,outfunc) };
    }
    $(function() {
      $('.lazyload').lazyload();
    });
  </script>
</head>
<body>
  <div class="title">
    <span class='wordtitle'><%= @name %> <%= @pagetitle %> (<%= @matchids.length %>)</span>
    <form action="<%= @urlroot %>/__search/<%= @name %>" method="get" style="float:right;font-size:12pt;">
      <input height='20' name='q' type='text' value='<%= @q %>'>
      <input type='submit' value='検索'>
    </form>
  </div>
  <p>
  <div>
    <div style="float:left;">
      <% @matchids.each { |id| %>
        <% title = @id2title[id] %>
        <% v = history(@name,title) %>
	<% disptitle = @disptitle[id] %>
        <% shorttitle = disptitle.sub(/\[\[http\S*\s+(.*)\]\]/){ $1 } %>
	<% if @sortbydate then %>
	<%   @createtime[id] =~ /(....)(..)(..)(..)(..)(..)/ %>
	<%   datestr = "#{$1}/#{$2}/#{$3} #{$4}:#{$5}:#{$6}" %>
	<%   shorttitle = datestr + ' ' + shorttitle %>
	<% end %>
        <% url = "#{@urltop}/#{title}" %>
        <div class="listedit0__xxx">
          <img id="<%= id %>" class="lazyload" src="data:image/gif;base64,R0lGODdhMgAMAPAAAMzMzAAAACH/C1hNUCBEYXRhWE1QAz94cAAsAAAAADIADAAAAheEj6nL7Q+jnLTai7PevPsPhuJIlmZSAAA7" data-original="<%= @urlroot %>/<%= @name %>/<%= title %>/access.png" src="" width="50" height="12">
          <a href="<%= url %>" class='tag'><%= shorttitle %></a>
        </div>
        <% interval = 0 %>
        <% interval = 1400 if v[5].to_i > 0 %>
        <% interval = 1200 if v[4].to_i > 0 %>
        <% interval = 100 if v[3].to_i > 0 %>
        <% interval = 800 if v[2].to_i > 0 %>
        <% interval = 600 if v[1].to_i > 0 %>
        <% interval = 400 if v[0].to_i > 0 %>
        <% if interval > 0 then %>
          <script>
          // setInterval(fin("<%= id %>",<%= interval %>, fout("<%= id %>", <%= interval %>)),0);
          </script>
        <% end %>
      <% } %>
    </div>
    <% if @matchimages.length < 50 then %>
      <div style="width:450;float:right;">
        <%= @matchimages %>
      </div>
    <% end %>
  </div>
</body>
</html>
