<a href="<%= @target_url %>" class="links" target="_blank">
  <div style="height:64;width:64;margin:2;float:left;background-color:#<%= @r %><%= @g %><%= @b %>;overflow:hidden;word-wrap:break-word;">
    <div style="font-size:<%= @fontsize %>pt;margin:3;color:white;overflow:hidden;word-wrap:break-word;">
      <%= escape_html @target_title %>
    </div>
  </div>
</a>
