<a href="<%= @target_url %>" class="links">
  <div style="height:64;width:64;margin:2;float:left;background-color:#<%= @r %><%= @g %><%= @b %>;">
    <div style="font-size:<%= @fontsize %>pt;margin:3;color:white;">
      <%= @target_title %>
    </div>
  </div>
</a>
